.stockCard__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  height: 3em;
  padding: 1em;
  background: #d6f3dc;
  outline: none;
  border: none;
  border-radius: 400px;
  cursor: pointer;
  display: inline-block;
  margin: 45px;
}

.container_add {
  display: flex;
  justify-content: center;
  /* display: ; */
}

.card {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stockCard {
  background: rgb(229, 229, 229);
  box-shadow: rgba(233, 233, 233, 0.2) 0px 2px 8px 0px;
  /* margin: 5em; */
  color: rgb(25, 25, 25);
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  margin: 45px;
}

.card__item {
  font-weight: bolder;
}

.card__details {
  display: flex;
  justify-content: space-between;
}

.card__open {
  color: #161615;
}

.card__volume {
  color: #0f0e0f;
}

.card__high {
  color: #131313;
}

.card__low {
  color: #111010;
}

.card__close {
  color: #0c0c0c;
}

@media screen and (max-width: 1000px) {
  .stockCard {
    width: 40%;
  }
}

@media screen and (max-width: 640px) {
  .stockCard {
    width: 70%;
  }
}
